<!DOCTYPE html>
<html lang="en">
<link  href="/css/top.css"  rel="stylesheet" type="text/css" />
<header style="height: 30px"></header>

<ul style="line-height: 80%;">
  <div style="line-height: 180%;"> <br> </div>
  <li><a href="/index">홈</a></li> <br>
  <li>
    <button class="aside_button" id="manageButton">자재 관리</button>
    <ul id="subMenu" style="display: none;">
      <li><a href="/product/form" class="aC">-&nbsp;입력하기</a></li>
      <li><a href="/product/list?nowPage=0" class="aC">-&nbsp;목록보기</a></li>
    </ul>
  </li>
</ul>
</html>