<!DOCTYPE html>
<div  th:replace="include/aside"></div>
<style>
    .hidden { display: none;}
</style>
<body>
<section>
    <br>

    <div>
        <h2 style="margin-left: 265px; margin-top: 40px"> 입력하기 </h2>
    </div>
    <hr>
    <div>
        <form action="/product/insert" method="post" enctype="multipart/form-data">
        <table width="1620px" border="1px">
            <tr>
                <td class="tdT"> 이미지 <br> 미리보기 </td>
                <td colspan="7" height="210px" align="center"> <!--미리보기 이미지-->
                <span id="noImageText">이미지가 등록되지 않았습니다.</span>
                <img id="preview" src="" style="margin:5px; max-width: 100%; max-height: 210px; display: none;">
            </td></tr>

            <tr>
                <td class="tdT">타입</td>
                <td align="left" colspan="3">
                    <label>
                        <input style="margin: 8px" type="radio" name="type" value="히든"> 히든 <br>
                        <input style="margin: 8px" type="radio" name="type" value="캡"> 캡 <br>
                        <input style="margin: 8px" type="radio" name="type" value="해당사항 없음"> 해당사항 없음
                    </label>
                </td>

                <td class="tdT">이미지</td>
                <td>
                    <input type="file" name="Image" id="uploadFile" onchange="previewImage(event)" style="display:none;">
                    <label for ="uploadFile" style="cursor: pointer; margin-left: 10px;"  >
                        <span style="background-color: #000; color: #fff; padding: 5px 10px; border-radius: 5px;">이미지 등록하기</span>
                    </label>
                </td>
                <td class="tdT"> 창호넘버 </td><td> <input style="margin-left: 10px" name="WindowNumber" size="34px" type="text" value="ACW-2.3.4.5.6"> </td>
            </tr>
            <tr>
                <td class="tdT"> 현장명 </td>
                <td><input style="margin-left: 10px" size="34px" type="text" name="SiteName"></td>
                <td class="tdT"> 제품코드목록 </td><td> <input style="margin-left: 10px" type="text" name="ProductCodeList" size="34px" > </td>
                <td class="tdT"> ITEM </td>
                <td>
                    <select  style="margin-left: 10px" name="ITEM" id="itemSelect" onchange="toggleOtherInput()">
                        <option value="MUL">MUL</option>
                        <option value="TRA">TRA</option>
                        <option value="기타">기타</option>
                    </select>
                    <input type="text" id="otherInput" class="hidden" size="24.9px" placeholder="내용을 입력하세요.">
                </td>
                <td class="tdT"> 재단 사이즈 </td><td> <input style="margin-left: 10px" name="CutSize" size="34px" type="text">
            </tr>
            <tr>

                </td><td class="tdT"> 수량 </td><td> <input style="margin-left: 10px" name="Quantity" size="34px" type="text"> </td>
                <td class="tdT"> 창SET </td><td> <input style="margin-left: 10px" name="WindowSET" size="34px" type="text">
            </td><td class="tdT"> 단중 </td><td> <input style="margin-left: 10px" name="SingleMiddle" size="33px" type="text"> </td>
                <td class="tdT"> 중량 </td><td> <input style="margin-left: 10px" name="Weight" size="34px" type="text"> </td>
            </tr>
        </table>
        </form><br>
        <div align="right" style="margin-right: 32px">
            <a href="/product/list?nowPage=0"><input type="button" value="리스트" class="btnWhite"></a> &nbsp;
            <input type="submit" value="저장하기" class="btnBlack"> &nbsp;
            <input type="reset" value="초기화" class="btnWhite" onClick="clearPreview()">
        </div>
    </div>
    <br>
</section>

<script>
    function previewImage(event){
        const preview = document.getElementById('preview');
        const file = event.target.files[0];
        const noImageText = document.getElementById('noImageText');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
                noImageText.style.display = 'none';
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    }

    function clearPreview() {
        const preview = document.getElementById('preview');
        preview.src = '';
        noImageText.style.display = 'block';
    }

    function toggleOtherInput() {
        const select = document.getElementById('itemSelect');
        const otherInput = document.getElementById('otherInput');
        if (select.value === '기타') {
            otherInput.classList.remove('hidden');
            otherInput.setAttribute('name', 'ITEM')
            select.removeAttribute('name');
        } else {
            otherInput.classList.add('hidden');
            otherInput.removeAttribute('name');
            select.setAttribute('name', 'ITEM')
        }
    }
</script>
<script src="/js/aside.js"></script>
</body>
</html>